.row{
    padding: 0px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vh;
    width: 100%;
}

}