@import './style/flex';


body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


span{
  font-size: 25px !important;

}


button{
  margin: 20px 10px;
  padding: 10px 30px ;
  background-color:rgb(4, 133, 255);
  color: white;
  border: none;
  font-size: 25px;
}
